{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="forgot_password-container" style="display: flex;flex-direction: column; align-items: center;padding: 20px; justify-content: center;">
    <h2 style="padding-bottom: 10px;">Recover Password</h2>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" style="display: flex;flex-direction: column;">
        {% csrf_token %}
        
        <input type="email" name="email" placeholder="Enter registered email" required style="padding:10px 100px 10px 10px;border-radius: 30px;font-size: 16px;">
        <br>
        <button type="submit" style="background-color: #1ed760; color: white;padding: 10px;border: none;border-radius: 20px;cursor: pointer;">Sign Up</button>
    </form>
    <p style="text-align: center;margin-top: 15px; font-size: 14px;">Remembered your password? <a href="{% url 'user:login' %}">Login</a></p>
</div>
{% endblock %}